<div class="card w-100 d-inline-flex mb-4">
  <img src="<%= p.cover %>" class="card-img-top" alt="cover">
  <div class="card-body">
    <h6 class="card-title"><%= p.title %></h6>
    <div class="card-author">
      <img src="<%= p.profilePic %>" alt="author profile picture" style="width:40px" class="rounded-circle" />
      <span class="card-author_name"><%= p.author %></span>
      <span class="card-post_likes"><%= p.likes %></span>
    </div>
  </div>
</div>